<ion-content>
  <br><br>
  <ion-row>
    <ion-col size="12" size-lg="1"></ion-col>
    <ion-col size="12" size-lg="4" class="ion-padding">
      <app-current-log [historyData]="history"></app-current-log>
      <ion-card class="ion-text-center ion-padding ion-margin statistic_box">
        <ion-toolbar color="light">
          <ion-row>
            <ion-col>
              <h5>GREEN</h5>
              <ion-badge color="success" *ngIf="playerTurn ==1">T</ion-badge>
            </ion-col>
            <ion-col>
              <div class="dice">
                <img [src]="'../../assets/img/dice/'+numberDice+'.png'" alt="" srcset="">
              </div>
            </ion-col>
            <ion-col>
              <h5>RED</h5>
              <ion-badge color="success" *ngIf="playerTurn ==2">T</ion-badge>
            </ion-col>
          </ion-row>
        </ion-toolbar>
        <ion-item>
          <ion-label slot="start">Open State</ion-label>
          <ion-buttons slot="end">
            <ion-button fill="clear" (click)="showStateBox = !showStateBox">
              <ion-icon name="chevron-down-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
        <div *ngIf="showStateBox">
          <!-- snake attack -->
          <ion-toolbar class="ion-margin-bottom">
            <ion-row>
              <ion-col>
                <p>
                  {{players.green.snakeBiteCount}}
                </p>
                <p>Times</p>
              </ion-col>
              <ion-col class="statistic_image">
                <img src="../../assets/img/snakes/yellow_snake_small.png" alt="" srcset="">
                <ion-text color="dark">
                  <p>Bite</p>
                </ion-text>
              </ion-col>
              <ion-col>
                <p>
                  {{players.red.snakeBiteCount}}
                </p>
                <p>Times</p>
              </ion-col>
            </ion-row>
          </ion-toolbar>
          <!-- ladder user -->
          <ion-toolbar class="ion-margin-bottom" color="light">
            <ion-row>
              <ion-col>
                <p>
                  {{players.green.ladderJumpCount}}
                </p>
                <p>Times</p>
              </ion-col>
              <ion-col class="statistic_image">
                <img src="../../assets/img/ladders/ladder_red_big.png" alt="" srcset="">
                <ion-text color="dark">
                  <p>Jump</p>
                </ion-text>
              </ion-col>
              <ion-col>
                <p>
                  {{players.red.ladderJumpCount}}
                </p>
                <p>Times</p>
              </ion-col>
            </ion-row>
          </ion-toolbar>
        </div>
        <ion-button (click)="roleDice()" fill="solid" size="block" color="danger" *ngIf="!reset">
          roll
        </ion-button>
        <ion-button (click)="resetMatch()" fill="solid" size="block" color="warning" *ngIf="reset">
          New Game
        </ion-button>
      </ion-card>
    </ion-col>
    <ion-col class="">
      <div class="ludu-board">
        <div [class]="box?.color" *ngFor="let box of boxArr;let i = index" [id]="'cellId'+box?.cellNumber"
          class="ion-text-center">
          <p>{{box?.cellNumber}}</p>
          <!-- players -->
          <img src="../../assets/img/players/1.png" alt="" class="green-player" id="green-player"
            *ngIf="players.green.currPosition == box?.cellNumber">
          <img src="../../assets/img/players/2.png" alt="" class="red-player" id="red-player"
            *ngIf="players.red.currPosition == box?.cellNumber">
        </div>
        <!-- ladder -->
        <img src="./../../assets/img/ladders/ladder_red_big.png" alt="ladder_red_big" srcset="" id="ladder_red_big">
        <img src="./../../assets/img/ladders/ladder_brown_big.png" alt="ladder_brown_big" srcset=""
          id="ladder_brown_big">
        <img src="./../../assets/img/ladders/ladder_green_small.png" alt="ladder_green_small" srcset=""
          id="ladder_green_small">
        <!-- snakes -->
        <img src="./../../assets/img/snakes/yellow_snake_small.png" alt="yellow_snake_small" srcset=""
          id="yellow_snake_small">
        <img src="./../../assets/img/snakes/green_snake_big.png" alt="green_snake_big" srcset="" id="green_snake_big">
        <img src="./../../assets/img/snakes/violate_snake.png" alt="violate_snake" srcset="" id="violate_snake">
        <!-- player -->

      </div>
    </ion-col>
    <ion-col size="12" size-lg="1"></ion-col>
  </ion-row>

</ion-content>