<ion-content>
  <ion-row>
    <ion-col class="ion-margin ion-padding">
      <div class="ludu-board">
        <div [class]="box?.color" *ngFor="let box of boxArr;let i = index" [id]="'cellId'+box?.cellNumber"
          class="ion-text-center">
          <!-- {{box?.cellNumber}} -->
          <!-- <h1>{{box?.isLadder ? 'L':''}}</h1>-->
          <p>{{box?.cellNumber}}</p>
        </div>
        <!-- ladder -->
        <img src="./../../assets/img/ladders/ladder_red_big.png" alt="ladder_red_big" srcset="" id="ladder_red_big">
        <img src="./../../assets/img/ladders/ladder_brown_big.png" alt="ladder_brown_big" srcset=""
          id="ladder_brown_big">
        <img src="./../../assets/img/ladders/ladder_green_small.png" alt="ladder_green_small" srcset=""
          id="ladder_green_small">
        <!-- snakes -->
        <img src="./../../assets/img/snakes/yellow_snake_small.png" alt="yellow_snake_small" srcset=""
          id="yellow_snake_small">
        <img src="./../../assets/img/snakes/green_snake_big.png" alt="green_snake_big" srcset="" id="green_snake_big">
        <img src="./../../assets/img/snakes/violate_snake.png" alt="violate_snake" srcset="" id="violate_snake">
      </div>
    </ion-col>
    <ion-col>
      <!-- <div class="ludu-board"></div> -->
    </ion-col>
  </ion-row>

</ion-content>